body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 0.9rem;
}

.font-bold {
    font-weight: 600;
    font-size: 0.7rem;
}

.headerImage {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 500px;
    top: 0;
}

.backgroundCaption {
    margin-top: 150px;
}

.content {
    padding: 20px;
    margin-top: 50px;
}

.iconImg {
    height: 40px;
    margin: 10px;
}

.teamLeadDescribe {
    position: absolute;
    background-color: #fff;
    left: 19%;
    top: 670px;
    z-index: +1;
    width: 35%;
    padding: 1rem;
    color: #000000;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #e8e3df;
    -moz-box-shadow: 1px 1px 2px 2px #e8e3df;
    -webkit-box-shadow: 1px 1px 2px 2px #e8e3df;
    -o-box-shadow: 1px 1px 2px 2px #e8e3df;
    -ms-box-shadow: 1px 1px 2px 2px #e8e3df;
}

.content-text {
    color: #5a5a5a;
}

.marginTop50px {
    margin-top: 50px;
}

.marginBottom25px {
    margin-bottom: 25px;
}

.greenUnderline {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #00a76b;
}

.ourTeamImg {
    width: 100%;
    margin-top: 80px;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    -moz-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    -o-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    -ms-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.team-gradient3 {
    position: absolute;
    right: 10%;
    bottom: -10px;
    z-index: -1;
}

.ourTeam {
    position: absolute;
    margin-left: 10%;
}

.gradient-team {
    position: absolute;
    z-index: 1;
}

.team-text {
    z-index: 2;
}

.emailInput .form-control {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.emailInput > .input-group-prepend .input-group-text {
    background: #ffffff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav-link-active {
    text-decoration: underline;
}

.gradient-header {
    position: absolute;
    z-index: -1;
}

.gradient-team-lead {
    position: absolute;
    z-index: -1;
    margin-top: 250px;
}

.header-text {
    font-weight: 300;
}

.footer-text {
    color: #777;
}

/* Customize container */
@media (min-width: 65em) {
    .container {
        max-width: 63rem;
    }
}
